@(players: List[Player],ranks:List[String],rankForm: Form[String],joinForm: Form[java.util.Date])(implicit request:Request[play.api.mvc.AnyContent])

@import helper._

@main("Admin players") {

  <h1>Player Administration</h1>
  
  @for(p <- players) {
  
    <div class="player">
      @form(routes.Ranks.update(p.name)) {
	
		  <dl class="name_field">
		  	<dt>
		  	  <label for="player name">Player Name</label>
		  	</dt>
		  	<dd>
		  	  <input type="text" id="name" value="@p.name" readonly="readonly" class="disabled"/>
		  	</dd>
		  </dl>
		  @defining(rankForm.fill(p.rank.name)) { filledForm =>
			@select(filledForm("rank"),options(ranks),'_label -> "Rank",'onchange -> "submit()")
		  }
      }
      
      @form(routes.JoinDate.update(p.name)) {
        @defining(joinForm.fill(p.joined)) { filledForm =>
          <span class="noInfo">
		  @inputDate(filledForm("joined"),'_label -> "Joined",'onchange -> "submit()")
		  </span>
		}
      }

	  <dl id="delete_button">
        <dt><label for="actions">Actions</label></dt>
        <dd>
          <button title="Delete Player" type="button" class="deletePlayerButton" id="@p.name"/>
        </dd>
      </dl>
    
      <hr/>
    </div>
  }
}