@(players: List[Player],ranks:List[String],rankForm: Form[String])(implicit request:Request[play.api.mvc.AnyContent])

@import helper._

@main("Update player ranks") {

  <h1>Player Rank Administration</h1>
  
  @for(p <- players) {
  
    <div class="player">
      @form(routes.Ranks.update(p.name)) {
	
		  <dl class="name_field">
		  	<dt>
		  	  <label for="player name">Player Name</label>
		  	</dt>
		  	<dd>
		  	  <input type="text" id="name" value="@p.name" readonly="readonly" class="disabled"/>
		  	</dd>
		  </dl>
		  @defining(rankForm.fill(p.rank.name)) { filledForm =>
			@select(filledForm("rank"),options(ranks),'onchange -> "submit()")
		  }
      }
	
	  <dl id="delete_button">
        <dt><label for="actions">Actions</label></dt>
        <dd>
          <button type="button" class="deletePlayerButton" id="@p.name"/>
        </dd>
      </dl>
    
      <hr/>
    
    </div>
  }
}