@(name:String,editForm: Form[Player])(implicit request:Request[play.api.mvc.AnyContent])

@import helper._

@main("Edit player") {
  <h1>Player Details</h1>
  
  <p>@form(routes.Players.update(name)) {
  
    @inputText(editForm("name"),'_label -> "Profile Name",'readonly -> "readonly",'class->"disabled") 
    @inputText(editForm("bisId"),'_label -> "BIS Player ID")
    @inputText(editForm("remark"),'_label -> "Remark")
    @inputDate(editForm("joined"),'_label -> "Join Date",'readonly -> "readonly",'class->"disabled") 
    
    <input type="submit" value="Save Changes">
  }</p>
  
  <p>Right click the link, copy to your clipboard and paste it into your Arma Squad XML in Game in your player Profile</p>
  <p><a href="@routes.Players.xml(name)">Player Squad XML</a></p>

}