@(oneMonth: List[models.RecruitEvaluation],twoMonth: List[models.RecruitEvaluation],promotionReady: List[models.RecruitEvaluation])(implicit request:Request[play.api.mvc.AnyContent])

@outputRecruitList(recruits: List[models.RecruitEvaluation]) = {
  @for(re <- recruits) {
    <div class="trainedPlayer">
      <p class="playerName">@re.player.name</p>
				
      <ul class="trainingList">
      (
        @re.trainings.map(_._2.name).sorted.mkString(" , ")
      )
      </ul>
    </div>
  }
}


@main("Recruit Evaluation") {
  <h1>Activity Evaluation</h1>

  <h2>Recruits ready for promotion</h2>
  
  @outputRecruitList(promotionReady)
  
  <h2>Recruits 1-2 months missing training</h2>
  
  @outputRecruitList(oneMonth)
  
  <h2>Recruits >2 months missing training</h2>
  
  @outputRecruitList(twoMonth)
}