@(title: String)(content: Html)(implicit request:Request[play.api.mvc.AnyContent])

<!DOCTYPE html>

@import controllers.AuthenticationHelper._

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
    	<script type="text/javascript" src="@routes.Assets.at("javascript/main.js")"></script>
    </head>
    <body>
    	<div id="wrapper">
    		<div id="navigation">
	    		<ul>
	    			<li><a href="@routes.PlayerTrainings.announcements" id="navlink">Announcements</a></li>
	    			<li><a href="@routes.Players.form" id="navlink">New Player</a></li>
	    			<li><a href="@routes.Search.form" id="navlink">Find Player</a></li>
	    			<li><a href="@routes.PlayerTrainings.roster" id="navlink">Roster</a></li>

					@if(isAdmin(request)) {
						<li><a href="@routes.Ranks.list" id="navlink">Ranks</a></li>
						<li><a href="@routes.PlayerTrainings.index" id="navlink">Training</a></li>
						<li><a href="@routes.Recruits.index" id="navlink">Recruits</a></li>
					}
	    			<li><a href="@routes.Application.logout" id="navlink">Logout</a></li>
	    		</ul>
	    	</div>
			<div id="header">
				<div id="branding"/>
			</div>
	    	<div id="content">
	        	@content
	        </div>
        </div>
    </body>
</html>
